Prueba_Anderson_Devia_Artundua/Connected Services/ServicePacientes/PacientesService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="PacientesService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:6341/PacientesService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:6341/PacientesService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:6341/PacientesService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfServPaci" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IPacientesService_AgregarPaciente_InputMessage">
    <wsdl:part name="parameters" element="tns:AgregarPaciente" />
  </wsdl:message>
  <wsdl:message name="IPacientesService_AgregarPaciente_OutputMessage">
    <wsdl:part name="parameters" element="tns:AgregarPacienteResponse" />
  </wsdl:message>
  <wsdl:message name="IPacientesService_Actualizar_InputMessage">
    <wsdl:part name="parameters" element="tns:Actualizar" />
  </wsdl:message>
  <wsdl:message name="IPacientesService_Actualizar_OutputMessage">
    <wsdl:part name="parameters" element="tns:ActualizarResponse" />
  </wsdl:message>
  <wsdl:message name="IPacientesService_Eliminar_InputMessage">
    <wsdl:part name="parameters" element="tns:Eliminar" />
  </wsdl:message>
  <wsdl:message name="IPacientesService_Eliminar_OutputMessage">
    <wsdl:part name="parameters" element="tns:EliminarResponse" />
  </wsdl:message>
  <wsdl:message name="IPacientesService_MostrarRegistro_InputMessage">
    <wsdl:part name="parameters" element="tns:MostrarRegistro" />
  </wsdl:message>
  <wsdl:message name="IPacientesService_MostrarRegistro_OutputMessage">
    <wsdl:part name="parameters" element="tns:MostrarRegistroResponse" />
  </wsdl:message>
  <wsdl:portType name="IPacientesService">
    <wsdl:operation name="AgregarPaciente">
      <wsdl:input wsaw:Action="http://tempuri.org/IPacientesService/AgregarPaciente" message="tns:IPacientesService_AgregarPaciente_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPacientesService/AgregarPacienteResponse" message="tns:IPacientesService_AgregarPaciente_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Actualizar">
      <wsdl:input wsaw:Action="http://tempuri.org/IPacientesService/Actualizar" message="tns:IPacientesService_Actualizar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPacientesService/ActualizarResponse" message="tns:IPacientesService_Actualizar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Eliminar">
      <wsdl:input wsaw:Action="http://tempuri.org/IPacientesService/Eliminar" message="tns:IPacientesService_Eliminar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPacientesService/EliminarResponse" message="tns:IPacientesService_Eliminar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="MostrarRegistro">
      <wsdl:input wsaw:Action="http://tempuri.org/IPacientesService/MostrarRegistro" message="tns:IPacientesService_MostrarRegistro_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPacientesService/MostrarRegistroResponse" message="tns:IPacientesService_MostrarRegistro_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IPacientesService" type="tns:IPacientesService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AgregarPaciente">
      <soap:operation soapAction="http://tempuri.org/IPacientesService/AgregarPaciente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Actualizar">
      <soap:operation soapAction="http://tempuri.org/IPacientesService/Actualizar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Eliminar">
      <soap:operation soapAction="http://tempuri.org/IPacientesService/Eliminar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MostrarRegistro">
      <soap:operation soapAction="http://tempuri.org/IPacientesService/MostrarRegistro" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PacientesService">
    <wsdl:port name="BasicHttpBinding_IPacientesService" binding="tns:BasicHttpBinding_IPacientesService">
      <soap:address location="http://localhost:6341/PacientesService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>